<ng-container *ngIf="loadingError !== undefined; else loadingError">
  <div class="container">
    <h2 style="margin-bottom: 10px">Dagplanning</h2>
    <!-- rij met afwezigen, zieken en vervoer -->
    <div class="row" *ngIf="specialeAteliers.length > 0">
      <div class="col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let dagAtelier of specialeAteliers">
              <h4 class="card-title d-inline-block">
                {{ dagAtelier.atelier.naam }}
              </h4>
              <div class="naastelkaar" *ngFor="let gebruiker of dagAtelier.gebruikers">
                <img id="{{ gebruiker.voornaam }}" class="client" src="{{ gebruiker.foto }}" />
                <p class="tekst">{{ gebruiker.voornaam }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rij met voor en namiddag activiteiten -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Voormiddag</h4>
            <div *ngFor="let dagAteliers of [voormiddag, volledigeDag]">
              <div *ngFor="let dagAtelier of dagAteliers">
                <p class="atelier">
                  {{ dagAtelier.atelier.naam }}
                </p>
                <div class="naastelkaar" *ngFor="let gebruiker of dagAtelier.getBegeleiders()">
                  <img id="{{ gebruiker.voornaam }}" class="client" src="{{ gebruiker.foto }}" />
                  <p class="tekst">{{ gebruiker.voornaam }}</p>
                </div>
                <hr />
                <div class="naastelkaar" *ngFor="let gebruiker of dagAtelier.getClienten()">
                  <img id="{{ gebruiker.voornaam }}" class="client" src="{{ gebruiker.foto }}" />
                  <p class="tekst">{{ gebruiker.voornaam }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Namiddag</h4>
            <div *ngFor="let dagAteliers of [namiddag, volledigeDag]">
              <div *ngFor="let ateliers of dagAteliers">
                <p class="atelier">
                  {{ ateliers.atelier.naam }}
                </p>
                <div class="naastelkaar" *ngFor="let gebruiker of ateliers.gebruikers">
                  <img id="{{ gebruiker.voornaam }}" class="client" src="{{ gebruiker.foto }}" />
                  <p class="tekst">{{ gebruiker.voornaam }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Afwezigen</h4>
            <div>
              <div>
                <p class="atelier">
                  {{ dag.ziekte.naam }}
                </p>
                <div *ngFor="let clienten of dag.ziekte.clienten">
                  <p>{{ clienten.naam }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</ng-container>

<ng-template #loadingError>
  <p>Er lijkt iets mis gegaan te zijn.</p>
</ng-template>