<div class="container">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 alignRight">
        <app-print ></app-print>
        <button class="btn btn-primary margin-left-10" type="submit" (click)="onSubmit()">Opslaan</button>
    </div>
  
  </div>

  <div class="row" id="print" >
    <div class="col-xs-12 col-md-6" *ngFor="let opmerking of opmerkingen; let i = index ">
      <h2>{{opmerking.opmerkingType}}</h2>
      <form class="spaceNaOpmerking" [formGroup]="opmerkingForm[i]" >
        <textarea class="textareawidth d-block" rows="4" type="text" name="opmerkingTekst"
          formControlName="tekst">{{opmerking.tekst}}</textarea>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="offset-10 col-2 alignRight">
        <button class="btn btn-primary col-2" type="submit" (click)="onSubmit()">Opslaan</button>
    </div>
  </div>
</div>