.groen{
    background-color: rgb(76, 197, 76);
}

.rood{
    background-color: rgb(236, 40, 40);
}

table {
    width: 100%;
}

.margbot {
    margin-bottom: 40px;
}

.datepickerform{
    padding-left: 6px;
    padding-right: 6px;
}

.mat-column-number {
    width: 58px;
}

.mat-column-voornaam {
    padding-left: 20px;
}