.green{
    background-color: green;
}

.red{
    background-color: red;
}

table {
    width: 100%;
}

.margbot {
    margin-bottom: 40px;
}

.datepickerform{
    padding-left: 6px;
    padding-right: 6px;
}