<ng-container *ngIf="initform">
    <div class="card" id="addAtelier"> 
      <div class="card-body">
        <form [formGroup]="dagAtelierFormGroup" (ngSubmit)="onSubmit()">
          <h5>Maaltijd:</h5>
          <div class="row">
            <div class="col-4">
              <input
                id="atelierNaamInput"
                class="form-control"
                type="text"
                formControlName="atelierNaam"
                list="atelierNamen"
                [ngClass]="{
                  'is-invalid':
                    submitted && dagAtelierFormGroup.controls.atelierNaam.errors
                }"
              />
              <datalist id="atelierNamen">
                <option
                  *ngFor="let dagatelier of ateliers"
                  [value]="dagatelier.naam"
                >
                  {{ dagatelier.naam }}
                </option>
              </datalist>
              <div
                *ngIf="
                  submitted && dagAtelierFormGroup.controls.atelierNaam.errors
                "
                class="text-danger"
              >
                <div
                  id="atelierOpslaanError"
                  class="d-block"
                  *ngFor="let error of atelierNaamFormErrors()"
                >
                  {{ error }}
                </div>
              </div>
            </div>
          
          <div class="col-6">
              <button type="submit" id="atelierOpslaan" class="btn rechts">
                Opslaan
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  
  <ng-template #saveAtelierTemplate>
    <div>
      <button (click)="saveAtelier()" type="button" class="btn rechts">
        Opslaan
      </button>
    </div>
  </ng-template>
  