.arrowbutton {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.alignRight {
  text-align: right;
}

.smallcard {
  height: 50%;
}

.weekend {
  display: inline;
}

.normalcard {
  margin-bottom: 30px;
}
.smallcard{
    height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fullheight{
    height: 100%;
}

.green{
    background-color: green;
}
