<div class="container" id="print" >
    <div class="row" style="margin-top: 25px;">
        <div class="col-8">
            <h1>Picto van Johanna</h1>
        </div>
        <div class="col-4" id="nietPrinten" >
            <mat-form-field  style="width: 100%;" id="matForm">
                <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Kies een datum"
                />
                <button matSuffix class="arrowbutton" (click)="windBack()">
                    &larr;
                </button>
                <button matSuffix class="arrowbutton" (click)="windForward()">
                    &rarr;
                </button>

                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div> 
    <div class="row" id="nietPrinten" >
        <div class="offset-9 col-3 alignRight">
            <app-print></app-print>
        </div>
    </div>
    <div class="row" id="nietPrinten" >
        <div class="col-3">
            <label
                ><input type="checkbox" (change)="switchWeekendState()" />Toon
                het weekend</label>
        </div>
    </div>
    <div class="row">
        <div
            class="col-12 col-lg-4 col-md-6"
            *ngFor="let dag of weekdagen"
            style="margin-bottom: 30px;"
        >
            <div class="card">
                <div class="card-body">
                    <app-picto-dag [isWeekendDag]="false"></app-picto-dag>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6" style="margin-bottom: 30px;">
            <div class="card">
                <div class="card-body">
                    <app-picto-dag [isWeekendDag]="true"></app-picto-dag>
                </div>
            </div>
        </div>
    </div>    
    <div class="row" id="nietPrinten"  style="margin-bottom:30px">
        <div class="col-12">
            <button style="float:right;" class="btn btn-primary">
                Opslaan
            </button>
        </div>
    </div>
</div>
