.arrowbutton {
  all: unset;

  &:hover {
    cursor: pointer;
  }
}

.alignRight {
  text-align: right;
}

.weekend {
  display: inline;
}

.normalcard {
  margin-bottom: 30px;
  margin-top: 10px;

}
.smallcard{
    height: 48%;
    margin-bottom: 20px;
}

.fullheight{
    height: 100%;
}

.green{
    background-color: green;
}
