.titel {
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn {
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    float: right;
    &.geselecteerd {
      background-color: rgb(96, 55, 194);
      font-weight: bold;
    }
    &:hover {
      background-color: rgb(66, 102, 138);
    }
  }