.atelierbtn {
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: slategray;
  }
}

.nieuw {
  margin-top: 20px;
}

.btn-link{
  padding: 0.15em;
}
