<ng-container *ngIf="loaded">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-body">
            <h4>Volledige Dag</h4>
            <ul>
              <div *ngFor="let ateliers of volledigeDag">
                <li>
                  <button type="button" class="btn btn-link" (click)="setAtelier(ateliers)">
                    {{ ateliers.atelier.naam }}
                  </button>
                  <a (click)="deleteAtelierUitDagplanning(ateliers, volledigeDag)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </li>
              </div>
            </ul>
            <h4>Voormiddag</h4>
            <ul>
              <div *ngFor="let ateliers of voormiddag">
                <li>
                  <button type="button" class="btn btn-link" (click)="setAtelier(ateliers)">
                    {{ ateliers.atelier.naam }}
                  </button>
                  <a (click)="deleteAtelierUitDagplanning(ateliers, voormiddag)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </li>
              </div>
            </ul>

            <h4>Namiddag</h4>
            <ul>
              <div *ngFor="let ateliers of namiddag">
                <li>
                  <button type="button" class="btn btn-link" (click)="setAtelier(ateliers)">
                    {{ ateliers.atelier.naam }}
                  </button>
                  <a (click)="deleteAtelierUitDagplanning(ateliers, namiddag)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </li>
              </div>
            </ul>
            <button (click)="nieuwAtelier()" type="button" class="btn atelierbtn nieuw">
              Atelier toevoegen
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-9">
        <app-homepage-edit-atelier *ngIf="state == StateType.Edit || state == StateType.VoegToe" [isEdit]="isEdit"
          [dagAtelier]="atelier" [dagplanningId]="dagPlanning.dagplanningId"></app-homepage-edit-atelier>
      </div>
    </div>
  </div>
</ng-container>