<!-- <div class="custom-file">
  <label class="custom-file-label" for="fileInput" data-browse="Bestand kiezen">
    Kies een bestand</label>
    <label *ngIf="gebruiker" class="custom-file-label" style="overflow: hidden;" for="fileInput" data-browse="Bestand kiezen">
        {{ gebruiker.foto }}</label>
  <input class="custom-file-input" type="file" id="fileInput" lang="nl" [ngClass]="{ 'is-invalid': errorGevonden }">
</div>

<app-progress [progress]="progress"></app-progress>

<div class="file-drop-area">
  <span class="fake-btn"></span>
  <span class="file-msg">{{file ? file.name : ''}}</span>
</div> -->

<div class="custom-file">
  <input class="custom-file-input" type="file" id="fileInput" lang="nl" [ngClass]="{ 'is-invalid': errorGevonden }">
  <label class="custom-file-label" for="fileInput" data-browse="Bestand kiezen">{{file ? file.name : gebruiker ? gebruiker.foto : '' }}</label>
</div>