.image-container {
    float: left;
    height: 70px;
    width: 70px;
    margin-left: 10px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.shortdiv{
    height: 50%;
}

.weekend{
    display: inline-block;
}