<div class="card maxheight" [ngClass]="selected ? 'yellow':'normal'">
  <div class="card-body">
    <div *ngIf="!isWeekend; else weekend">
      <div>
        <div class="row">
          <div class="col-12">
            <div>
              <img style="width: 60px; height: 60px; float: left; margin-right: 16px;"
                src="https://kolveniershofapi.azurewebsites.net/pictos/{{dagImg}}" alt="" />
              <h4>{{pictodag.datum | date: 'EEEE dd MMMM yyyy'}}</h4>
            </div>
          </div>
        </div>
        <h4>Voormiddag</h4>
        <div class="row">
          <div class="col-12">
            <div *ngFor="let atelier of voormiddag" class="image-container">
              <img src="https://kolveniershofapi.azurewebsites.net/pictos/{{atelier.atelierImg}}" />
            </div>
          </div>
        </div>
        <h4>Menu</h4>
        <div class="row">
          <div class="col-12">
            <div class="image-container">
              <img src="https://kolveniershofapi.azurewebsites.net/pictos/cafetaria_rozenberg.jpg">
              <p>{{pictodag.menu}}</p>
            </div>
          </div>
        </div>
        <h4>Namiddag</h4>
        <div class="row">
          <div class="col-12">
            <div>
              <div *ngFor="let atelier of namiddag" class="image-container">
                <img src="https://kolveniershofapi.azurewebsites.net/pictos/{{atelier.atelierImg}}" />
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
            <p>Geef commentaar op voor de dag</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #weekend>
  <ng-container>

  <div class="row">
    <div class="col-12">
      <div>
        <!-- <img style="width: 60px; height: 60px; float: left; margin-right: 16px;"
          src="https://kolveniershofapi.azurewebsites.net/pictos/{{dagImg}}" alt="" /> nog geen images in backend -->
        <h4>{{pictodag.datum | date: 'EEEE dd MMMM yyyy'}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea placeholder="Geef commentaar voor het weekend" [(ngModel)]="commentaar"
        style="width: 100%; resize: none; height: 100px;"></textarea>
      <button class="btn btn-primary" (click)="opslaanCommentaar(pictodag)">Opslaan</button>
    </div>
  </div>
</ng-container>

</ng-template>