<div class="row">
    <div class="col-12">
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
        <div class="image-container">
            <img src="https://www.sclera.be/resources/pictos/bibliobus.png" />
        </div>
    </div>
</div>
