<div class="container">
  <div class="row">
      <div class="col-12">
    <form [formGroup]="atelierFormGroup">
         <div class="col-12 alert alert-danger" *ngIf="errorMessage != ''">
            {{errorMessage}}
          </div>
          <div class="col-12 alert alert-success" *ngIf="successMessage != ''">
              {{successMessage}}
            </div>
          <h2 class="titel">Atelier {{titelTekst}}</h2>
          <div id="atelierdiv">
            <p>Kies de naam van het atelier:</p>
            <input id="atelierNaamInput" class="form-control" type="text" formControlName="atelierNaam"
              [ngClass]="{ 'is-invalid': submittedSave &amp;&amp; atelierFormGroup.controls.atelierNaam.errors }" />
              <div class="invalid-feedback" *ngIf="submittedSave && atelierFormGroup.controls.atelierNaam.errors">
                Een atelier naam is verplicht
              </div>
          </div>

          <div id="atelierdiv">
            <p>Selecteer een picto voor het atelier (.jpg, .jpeg of .png):</p>
            <app-file-upload formControlName="picto" [atelier]="huidigAtelier" [progress]="progress"></app-file-upload>
          </div>

          <div>
            <button (click)="saveAtelier()" type="button" class="btn">
              Opslaan
            </button>
          </div>


        
    </form>
  </div>
  </div>
</div>



<!-- <div class="card">
  <div class="card-body">
    <form [formGroup]="atelierVerwijderenFormGroup">
      <div class="row col-12 pb-3">
        <div class="col-12 col-md-5 pl-0">
          <h2>Atelier verwijderen:</h2>

          <div id="atelierdiv">
            <p>Selecteer het te verwijderen atelier:</p>

            <input id="teVerwijderenAtelierInput" class="form-control" type="text"
              formControlName="teVerwijderenAtelier" list="atelierNamen"
              [ngClass]="{ 'is-invalid': submittedDelete &amp;&amp; atelierVerwijderenFormGroup.controls.teVerwijderenAtelier.errors }" />
            <datalist id="atelierNamen">
              <option *ngFor="let atelier of ateliers" [value]="atelier.naam">
                {{atelier.naam}}
              </option>
            </datalist>
          </div>

          <div>
            <button (click)="deleteAtelier()" type="submit" class="btn">
              Opslaan
            </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div> -->