<div class="card">
  <div class="card-body">
    <form [formGroup]="atelierFormGroup">
      <div class="row col-12 pb-3">
        <div class="col-12 col-md-5 pl-0">
          <h2>Atelier toevoegen:</h2>

          <div id="atelierdiv">
            <p>Kies een naam voor het nieuwe atelier:</p>
            <input id="atelierNaamInput" class="form-control" type="text" formControlName="atelierNaam"
              [ngClass]="{ 'is-invalid': submittedSave &amp;&amp; atelierFormGroup.controls.atelierNaam.errors }" />
              <div class="invalid-feedback" *ngIf="submittedSave && atelierFormGroup.controls.atelierNaam.errors">
                Een atelier naam is verplicht
              </div>
          </div>

          <div id="atelierdiv">
            <p>Kies een picto:</p>
            <app-file-upload formControlName="picto" ></app-file-upload>
          </div>

          <div>
            <button (click)="saveAtelier()" type="button" class="btn">
              Opslaan
            </button>
          </div>


        </div>
      </div>
    </form>
  </div>
</div>



<div class="card">
  <div class="card-body">
    <form [formGroup]="atelierVerwijderenFormGroup">
      <div class="row col-12 pb-3">
        <div class="col-12 col-md-5 pl-0">
          <h2>Atelier verwijderen:</h2>

          <div id="atelierdiv">
            <p>Selecteer het te verwijderen atelier:</p>

            <input id="teVerwijderenAtelierInput" class="form-control" type="text"
              formControlName="teVerwijderenAtelier" list="atelierNamen"
              [ngClass]="{ 'is-invalid': submittedDelete &amp;&amp; atelierVerwijderenFormGroup.controls.teVerwijderenAtelier.errors }" />
            <datalist id="atelierNamen">
              <option *ngFor="let atelier of ateliers" [value]="atelier.naam">
                {{atelier.naam}}
              </option>
            </datalist>
          </div>

          <div>
            <button (click)="deleteAtelier()" type="submit" class="btn">
              Opslaan
            </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>